html,
body {
    margin: 0;
    padding: 0;
    background-color: white;
    scroll-behavior: smooth;
    overflow: hidden;
}

canvas {
    display: block;
}

section {
    display: block;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colored-sect {
    background-color: #398AB9;
}

.colTitle {
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

#collection {
    text-align: center;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

.textContainer {
    position: relative;
    border-color: #FF0000;
    word-wrap: break-word;
    width: 40vw;
    line-height: 5vw;
    margin: 0 auto;
    font-size: 1.25vw;
    font-family: 'Montserrat', sans-serif;
    padding: 0 50px;
}

#data-explanation {
    padding-left: 5px;
}

#data-explanation .textContainer {
    line-height: 3vw;
    margin-left: 30vw;
}

#data-explanation .colTitle {
    text-align: right;
}

#data-explanation .nextSection {
    font-size: 2vw;
    text-align: center;
}

#data-explanation iframe {
    height: "30vh";
    width: "40vw";
}

.nextSection {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    height: 20%;
    background-color: #EEEEEE;
    width: 80%;
    font-size: 4vw;
    align-items: center;
    border-radius: 10%;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}

iframe {
    height: 80vh;
    width: 60vw;
}

.graph {
    margin: 0 auto;
}

.graph h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 3vh;
    font-size: 5vh;
}

body {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.nextSection:hover {
    background-color: #D8D2CB;
}

.colTitle img {
    margin-top: 2vh;
    border-radius: 100%;
}

.colTitle {
    text-align: center;
}

.colTitle {
    width: 35%;
}